backend:
  name: git-gateway
  branch: master

media_folder: static/img
public folder: /img
publish_mode: editorial_workflow
collections:
  - name: 'blog'
    label: 'Blog'
    folder: 'public/page-data/blog'
    create: true
    slug: 'index'
    media_folder: ''
    public_folder: 'public'
    path: '{{title}}/index'
    editor:
      preview: true
    fields:
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Publish Date', name: 'date', widget: 'datetime' }
      - { label: 'Description', name: 'description', widget: 'string' }
      - { label: 'Body', name: 'body', widget: 'markdown' }
      - name: tags
        label: Tags
        widget: tags
        separator: ","
        required: false
  - name: 'project'
    label: 'Project'
    folder: 'public/page-data/portfolio'
    create: true
    slug: 'index'
    media_folder: ''
    public_folder: 'public'
    path: '{{title}}/index'
    editor:
      preview: true
    fields:
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Publish Date', name: 'date', widget: 'datetime' }
      - { label: 'Description', name: 'description', widget: 'string' }
      - { label: 'Body', name: 'body', widget: 'markdown' }
      - name: tags
        label: Tags
        widget: tags
        separator: ","
        required: false
